#id_error_wrap {
    width: 29em;
    clear: both;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 14pt;
    text-align: center;
}

#id_recovery_block a {
    color: #FFFFFF;
    font-weight: bold;
}