<div id='id_header_links'>
    <span id="id_account_buttons_wrap">
        {% if user and user.username %}
            <a id='id_account_link' href='{% url front_page %}'>My account</a>
            <span class='separator'>|</span>
            <a id='id_logout_link' href='{% url logout %}'>Log out</a>
        {% else %}
            <a id='id_signup_link' href='{% url registration_register %}'>Sign up</a>
            <span class='separator'>|</span>
            <a id='id_login_link' href='{% url login %}'>Log in</a>
        {% endif %}
    </span>
    {% if sheet %}
    <!--[if IE]>
        <span id="id_ie_warning" title="Sorry, we're currently working on fixing some bugs with Internet Explorer. You may be better off using another browser if you can." >Internet Explorer Warning</span>
    <![endif]-->
    {% endif %}

    <div id='id_top_links'>
        <a id='id_help_link' href="/documentation/">Help</a>
    </div>
    <script type="text/javascript">
        $(function() {
            $.extend(
                urls,
                {
                    feedback: '{% url feedback_submit %}'
                }
            );
            {% if user and user.username %}
                Dirigible.FeedbackDialog.Initialise(urls, '{{ user.username }}');
            {% else %}
                Dirigible.FeedbackDialog.Initialise(urls, '');
            {% endif %}
        });
    </script>
</div>
<div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about Dirigible:
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" class="email_prompt"/>
    <div id="id_feedback_dialog_error" class="hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/dirigible/images/spinner-small-white-bg.gif" />
        <input value="OK" id="id_feedback_dialog_ok_button" type="button">
        <input value="Cancel" id="id_feedback_dialog_cancel_button" type="button">
    </div>
</div>
