{% extends "error_page.html" %}

{% block title %}
    CSV Export Error: Dirigible
{% endblock %}

{% block error_title %}Could not export CSV file{% endblock %}
{% block error_text %}
Sorry, your spreadsheet contains characters that cannot be saved in Excel CSV format.<br />
Please try again using the international version. 
See the <a href="/documentation/import_export.html">documentation</a> for more info.
{% endblock %}


{% block error_recovery_link %}
<a id="id_sheet_link" href="{% url 'sheet_page' sheet.owner.username sheet.id %}">Return to your sheet ({{sheet.name}})</a>
{% endblock %}
