{% extends "non_sheet_page_small_logo.html" %}

{% block title %}
    Project Dirigible Beta Sign-up
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/dirigible/styles/registration.css" type="text/css" media="screen" charset="utf-8" />

    <script type="text/javascript" src="/static/jquery/jquery-1.4.2.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var checkInProgress = false;
            function updatePasswordErrorState() {
                if (checkInProgress) {
                    return;
                }
                checkInProgress = true;
                if ($('#id_password1').val() == $('#id_password2').val()) {
                    $('#id_password1').removeAttr('class');
                    $('#id_password2').removeAttr('class');
                } else {
                    $('#id_password1').attr('class', 'error');
                    $('#id_password2').attr('class', 'error');
                }
                checkInProgress = false;
            }

            $('#id_password1').bind("input", updatePasswordErrorState);
            $('#id_password2').bind("input", updatePasswordErrorState);
            $('#id_password1').bind("propertychange", updatePasswordErrorState);
            $('#id_password2').bind("propertychange", updatePasswordErrorState);
        });
    </script>

{% endblock %}

{% block content %}
    <div class="clear"> </div>

    <div id="id_signup_vwrap" class="centered-block">
        <div id="id_signup_hwrap" class="grey_rounded_corner_box">

<!--[if IE]>
<div id="id_ie_warning"><span><em>It looks like you're using Internet Explorer.
We're sorry to say we're currently working on a couple of bugs in IE.
If you can use
<a href="http://www.browserchoice.eu/BrowserChoice/browserchoice_en.htm">another browser</a>,
please do!</span></em></div>
<![endif]-->

            <form action="{% url registration_register %}" method="POST">
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <table id="id_signup_table">
                    {% for field in form %}
                        {% if field.errors %}
                            <tr>
                                <td class="label"></td>
                                <td id="id_{{field.name}}_error" class="input">{{field.errors}}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="label">{{field.label|capfirst}}:</td>
                            <td class="input">{{field}}</td>
                        </tr>
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <tr id="id_non_field_errors">
                        <td colspan="2">{{ form.non_field_errors }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td colspan="2" id="id_signup_button_cell"><input id="id_signup_button" type="submit" class="blue_button" value="Sign up" /></td>
                    </tr>
                </table>
            </form>

        </div>
        <div id="id_we_dont_spam">
            We promise not to spam or pass your details on to anyone else.
        </div>
    </div>
{% endblock %}

